+b.grid
  include ../firstScreen/firstScreen
  include ../sale/sale
  include ../service/service
  include ../saleHits/saleHits
  include ../feedback/feedback
  img(src="../img/sprite.svg", alt="" hidden)