.mainNav{
  display: flex;
  align-items: center;

  &__link{
    @include ss-reg-ls3-14;
    margin-right: 67px;
  }
}

@media (max-width: 1024px) {
  .mainNav{
  
    &__link{
      font-size: 13px;
      margin: 0;
    }
  
    &__link:not(:last-child){
      margin-right: 49px;
    }
  }
  
}