.compare{
  position: relative;

  &__pic{
    display: block;
    width: 25px;
    height: 25px;

    &--card{
      width: 20px;
      height: 20px;
      background: url('../img/compare.svg') no-repeat;
      background-size: contain;
    }

    &--active{
      background: url('../img/compare-active.svg') no-repeat;
      background-size: contain;
    }

  }

  &__counter{
    display: none;
    position: absolute;
    padding: 2px;
    top: -5px;
    right: -5px;
    background: #f5f7f6;
    color: $red;
    @include sansPro(700, 11px, normal, 0, $red);
    border-radius: 50%;

    &--active{
      display: block;
    }
  }
}


@media (max-width: 1024px) {
  .compare{

    &__pic{
      width: 20px;
      height: 20px;
    }
  }
  
}

@media (max-width: 640px){
  .compare{

    &__pic{
      
      &--card{
        width: 18px !important;
        height: 18px !important;
        margin-left: 0;
      }

      &--card2{
        margin: 0 15px 0 25px;
      }
    }
  }
}