-var list = { "Встраиваемая техника": ['Встраиваемые духовые шкафы', 'Встраиваемые варочные панели', 'Встраиваемые микроволновые печи', 'Встраиваемые посудомоечные машины', 'Встраиваемые стиральные машины'], "Вытяжки": '', "Холодильники": [ 'Холодильники', 'Холодильники Side-by-Side', 'Холодильники барные', 'Холодильники винные', 'Морозильные камеры', 'Аксессуары для холодильников',], "Приготовление напитков": [ 'Кофеварки', 'Кофемашины', 'Кофемолки', 'Соковыжималки'], "Кухонные плиты": ['Плиты Газовые', 'Плиты Электрические'], "Механическая обработка пищи": [ 'Блендеры', 'Измельчители', 'Кухонные комбайны', 'Миксеры', 'Мясорубки'], "Посудомоечные машины": '', "Термическая обработка пищи": [ 'Аэрогрили', 'Блинницы', 'Йогуртницы', 'Микроволновые печи', 'Мультиварки', 'Пароварки', 'Мини-печи, ростеры', 'Варочные панели', 'Сэндвичницы', 'Тостеры', 'Хлебопечи', 'Чайники', 'Гриль электрический'] }

+b.catalog
  +e.SPAN.heading Телевизоры и видео
  +e.wrap
    each col, i in [ [0,3], [3,6], [6] ]
      +e(class=`column catalog__column--${i+1}`)
        each key in Object.keys(list).slice( col[0], col[1] )
          - var links = Array.isArray( list[key] ) ? list[key] : []
          +e.list
            +e.A(href='').title= key
            each link in links
              +e.A(href='').item= link