-var city = [ 'Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Сочи', 'Уфа', 'Самара', 'Красноярск', 'Пермь', 'Краснодар', 'Воронеж', 'Барнаул', 'Горно-Алтайск', 'Кемерово', 'Оренбург', 'Рязань', 'Пенза', 'Тула', 'Чебоксары', 'Магнитогорск', 'Ростов-на-Дону', 'Симферополь', 'Брянск', 'Ставрополь', 'Мурманск', 'Чита', 'Череповец']

+b.selectCity
  +e.header
    +e.SPAN.heading Выбор города
    +e.I.close
  +e.wrap
    each col, i in [ [0,11], [11,21], [21] ]
      +e(class=`column selectСity__column--${i+1}`)
        each key in city.slice( col[0], col[1] )
          +e.item
            +e.I.icon
            +e.A(href='').title= key