mixin social
  +b.social
    +e.A(href='').link
      +e.I.icon.social__icon--vk
    +e.A(href='').link.social__link--margin
      +e.I.icon.social__icon--fb
    +e.A(href='').link
      +e.I.icon.social__icon--inst