/*--- Source Sans Pro ---*/

/* Начало Regular */
@font-face {
  font-family: "Source Sans Pro";
  font-display: auto;
  src: url('../fonts/sourcesanspro-regular.eot');
  src: local('Source Sans Pro'), local('SourceSansPro-regular'),
  url('../fonts/sourcesanspro-regular.eot?') format('embedded-opentype'),
  url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
  url('../fonts/sourcesanspro-regular.woff') format('woff'),
  url('../fonts/sourcesanspro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}
/* Конец Regular */


/* Начало Semi-Bold */
@font-face {
  font-family: "Source Sans Pro";
  font-display: auto;
  src: url('../fonts/sourcesanspro-semibold.eot');
  src: local('Source Sans Pro'), local('SourceSansPro-SemiBold'),
  url('../fonts/sourcesanspro-semibold.eot?') format('embedded-opentype'),
  url('../fonts/sourcesanspro-semibold.woff2') format('woff2'),
  url('../fonts/sourcesanspro-semibold.woff') format('woff'),
  url('../fonts/sourcesanspro-semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;

}
/* Конец Semi-Bold */


/* Начало Bold */
@font-face {
  font-family: "Source Sans Pro";
  font-display: auto;
  src: url('../fonts/sourcesanspro-bold.eot');
  src: local('Source Sans Pro'), local('SourceSansPro-regular'),
  url('../fonts/sourcesanspro-bold.eot?') format('embedded-opentype'),
  url('../fonts/sourcesanspro-bold.woff2') format('woff2'),
  url('../fonts/sourcesanspro-bold.woff') format('woff'),
  url('../fonts/sourcesanspro-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}
/* Конец Bold */

/*--- UBUBNTU ---*/

/* Начало Regular */
@font-face {
  font-family: "Ubuntu";
  font-display: auto;
  src: url('../fonts/ubuntu-medium.eot');
  src: local('Ubuntu'), local('Ubuntu-Medium'),
  url('../fonts/ubuntu-medium.eot?') format('embedded-opentype'),
  url('../fonts/ubuntu-medium.woff2') format('woff2'),
  url('../fonts/ubuntu-medium.woff') format('woff'),
  url('../fonts/ubuntu-medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}
/* Конец Regular */