

/* Цвета */
$red: #c20100;
$warm-grey: #747474;
$light-grey: #f5f7f6;
$pinkish-grey: #c7c7c7;
$brick: #bd2a28;
$greyish-brown: #474747;
$brownish-grey: #606060;
$white: #d8d8d8;
$white-two: #f4f4f4;
$black: #303030;
$black-two: #2d2d2d;
$warm-grey-two: #989898;
$black-three: #2c2c2c;
$warm-grey-three: #848484;
$golden-yellow: #ffc129;
$green: #1ebe29;
$blue: #2b46c4;
$grapefruit: #ff564e;
$white-three: #e8e8e8;