+b.banners
  .swiper-container
    .swiper-wrapper
      +e.item.swiper-slide
        +e.IMG(src="../img/banner.jpg").content
      +e.item.swiper-slide
        +e.IMG(src="../img/banner.jpg").content
      +e.item.swiper-slide
        +e.IMG(src="../img/banner.jpg").content
      +e.item.swiper-slide
        +e.IMG(src="../img/banner.jpg").content
  +b.pagination.pagination--banners
  +e.I.paginationArrow.banners__paginationArrow--right
  +e.I.paginationArrow.banners__paginationArrow--left