+b.SECTION.service
  +e.item.service__item--middle
    +e.pic.service__pic--home
    +e.H3.heading.service__heading--home Мебель 
      +e.SPAN.heading.service__heading--grey для вашего
      |дома
    +e.A(href='').link

  +e.wrap
    +e.item.service__item--min
      +e.headingWrap
        +e.H3.heading.service__heading--low Скидка
        +e.SPAN.heading.service__heading--big 5%
        +e.SPAN.heading.service__heading--min при оплате онлайн
      +e.pic.service__pic--sale
      +e.A(href='').link
      
    +e.item.service__item--min2
      +e.A(href='').link
    
  +e.item.service__item--big
    +e.wrapper
      +e.H3.heading.service__heading--middle2 Доставка delivery
      +e.P.description На нашем сайте Вы можете оформить ваш заказ с курьерской доставкой, домой или в офис. Стандартная доставка по городу 300 ₽
      +e.BUTTON.calculate Рассчитать стоимость доставки 
      +e.SPAN.calculateText Рассчитать стоимость доставки 
      +e.A(href='').link.service__link--delivery
    +e.pic.service__pic--delivery
    