+b.catalogBtn.openCatalog
  +e.SVG(xmlns="http://www.w3.org/2000/svg" width="24" height="13" viewBox="0 0 24 13").pic.openCatalog
    +e.G(fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2").btn
      +e.PATH(d="M1.5 1.5h21.226M1.5 6.506h16.328M1.599 11.482h11.43")
  +e.SPAN.title.openCatalog Каталог товаров